/* footer */
.footer {
    text-align: center;

    .links .btn {
        margin: .5rem;
    }

    .credit {
        @include titleText(2rem);
        margin-top: 2rem;
        padding-top: 1rem;

        span {
            color: var(--yellow);
        }
    }
}