@media (max-width:1200px) {
    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .header {
        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 0 0);
            transition: .2s linear;

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            a {
                display: block;
                margin: 2rem;
            }
        }
    }
}

@media (max-width:768px) {
    .header {

        .search-form {
            width: 90%;
        }

        .login-form {
            width: 90%;
        }
    }

    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}