/* projects */
.projects {
    background: var(--black);

    .heading {
        color: var(--white);
    }

    h1 {
        @include heading();
    }

    .box-container {
        @include grid(30rem);

        .box {
            cursor: initial;

            &:hover .image img {
                transform: scale(1.1);
            }

            .image {
                height: 40rem;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .content {
                display: flex;
                background: var(--white);
                justify-content: space-between;

                .info {
                    padding: 1rem 2rem;

                    h3 {
                        @include titleText(1.7rem);
                    }

                    p {
                        @include graphText(1.5rem);
                    }
                }

                i {
                    width: 7.5rem;
                    font-size: 3rem;
                    background: var(--yellow);
                    color: var(--white);
                    cursor: pointer;
                    text-align: center;
                    line-height: 7.5rem;
                }
            }
        }
    }
}