/* Reviews */
.reviews {
    h1 {
        @include heading();
    }

    .slide {
        p {
            padding: 1.5rem;
            background: var(--light-bg);
            position: relative;
            margin-bottom: 2rem;
            @include graphText(1.4rem);

            &::before {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 2rem;
                width: 2rem;
                height: 2rem;
                background: var(--light-bg);
                transform: rotate(45deg);
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
                height: 7rem;
                width: 7rem;
            }

            h3 {
                @include titleText(1.7rem);
            }

            .stars {
                padding-top: .5rem;

                i {
                    font-size: 1.4rem;
                    color: var(--yellow);
                }
            }
        }
    }
}